{% extends 'enquetes/base.html' %}
{% block content %}
<form action="{% url 'enquetes:voto' questao.id %}" method="post">
  {% csrf_token %}
  <fieldset>
    <legend><h1>{{ questao.descricao }}</h1></legend>
    {% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
    {% endif %}
    {% for alternativa in questao.alternativa_set.all %}
    <input type="radio" name="alternativa" id="alternativa{{ forloop.counter }}" value="{{ alternativa.id }}"/>
    <label for="alternativa{{ forloop.counter }}">{{ alternativa.descricao }}</label><br>
    {% endfor %}
  </fieldset>
  <input type="submit" value="Votar" />
</form>
{% endblock %}