{% extends 'enquetes/base.html' %}

{% block content %}
<div class="card shadow">
    <div class="card-header bg-outline-warning text-dark">
        <h2 class="mb-0">Editar Alternativa</h2>
    </div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label class="form-label" >Texto da Alternativa:</label>
                {{ form_alternativa.descricao }}
            </div>
            <button type="submit" class="btn btn-success">Salvar Alterações</button>
            <a href="{% url 'enquetes:detalhe' alternativa.questao.id %}" class="btn btn-outline-secondary">Cancelar</a>
        </form>
    </div>
</div>
{% endblock %}