{% extends 'enquetes/base.html' %}
{% block content %}
<h1>{{ questao.texto_questao }}</h1>
<ul class="list-group mb-3">
  {% for alternativa in questao.alternativa_set.all %}
  <li class="list-group-item d-flex justify-content-between align-items-center">
    {{ alternativa.texto_alternativa }}
    <span class="badge bg-primary rounded-pill">
      {{ alternativa.votos }} voto{{ alternativa.votos|pluralize }}
    </span>
  </li>
  {% endfor %}
</ul>
<a href="{% url 'enquetes:detalhe' questao.id %}" class="btn btn-secondary">Votar novamente?</a>
{% endblock %}
