@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    margin: 0;
    margin-top: 100px;
    font-family: "Bebas Neue";
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

h1 {
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.titulo {
    font-size: 3.5rem;
    text-align: center;
}

.enquete {
    display: flex;
    gap: 2rem;
}

.enquete-item a {
    color: black;
    padding: 20px 30px;
    border: 2px solid transparent;
    border-radius: 6px;
    background: #EFEFEF;
    flex-wrap: wrap;
    font-size: 1.2rem;
}

.enquete-item a:hover {
    border-color: black;
}

.rodape p {
    font-size: 1.1rem;
}